**/.idea
**/.vscode

fw/.cache
fw/obj
fw/*.bin
fw/*.eep
fw/*.elf
fw/*.hex
fw/*.lss
fw/*.map
fw/*.sym
fw/compile_commands.json

pcb/*-backups
pcb/*.kicad_prl
pcb/*.bak
pcb/*.lck
pcb/fp-info-cache
pcb/sym-lib-table

remote-board/*-backups
remote-board/*.kicad_prl
remote-board/*.bak
remote-board/fp-info-cache
remote-board/sym-lib-table
